
.caption{
	display: block;
	width: 100%;
	background: #f7d083;
	height: 55px;
	padding left: : 20;
	color: #ffffff;
	font-size: 55px;
	line-height: 55px;
	text-shadow: 1px 1px 1px rgba(0,0,0,3);
	box-sizing: border-box;
}





